#my-image {
    height: auto;
    width: auto;
    max-height: 400px;
    max-width: 400px;
    float: left;
    padding-right: 10px;
    
}
.row {
    justify-content: space-evenly;
}

.container {
    margin-left: auto;
    margin-right: auto;
  
  color:yellow;
}
.info {
    display: inline;
    
}
body{
    background-size: 100%;
    background-repeat: no-repeat;
   
}
#all-info {
    margin-left: 5%;
   margin-right: 5%; 
}
#first-row {
    justify-content: space-around;
}

#first-header {
    margin-left: auto;
    margin-right: auto;
}
#about-me-content {
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    width: auto;
}

h1 {
    text-align: center;
    background-color: teal;
    color: white;
   margin-bottom: 2%;
}
h3 {
    
}

.card {
    display: flex;
   

    width: 18rem;
    Height: 21rem;
}
.card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .carousel-item {
        height: 24rem;
 }
h4 {
    font-size: 1rem;
}
}
@media screen and (max-width: 540px) {
  
    #info {
        display: table-cell;
    }
    .carousel-item > #crystal-image {
        width:auto;
        height:auto;
      }
      .carousel > .carousel-inner > .carousel-item {
          margin-top: 40%;
      }
      
}
   
  